/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

body {
  margin-top: 75px;
}

.counter-line {
  background-color: silver;
  font-size: 20px;
  font-weight: bold;
  padding-top: 12px;
  margin-top: -30px;
  height: 50px;
}

.navbar-brand {
  float: left;
  padding: 15px 15px;
  // padding-top: 25px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-inverse {
  height: 75px;
}

.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 12px;
}

.jumbotron {
  // margin-top: 60px;	
  background: image-url('keyboard.1.jpg') no-repeat;
  height: 590px;
  // image-height: 100%;
  padding-top: 160px;
  padding-bottom: 300px;
  // opacity:
  // width: 1280px;
  // height: 500px;
}

#logo-image {
  margin-top: 15px;
  margin-left: 15px;
}

#notice {
  font-color: white;  
  background-color: orange;
}

#alert {
  font-color: white;
  background-color: orange;
}

.jumbotron h1 {
	font-size: 54px;
}

/* DASHBOARD */
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
  padding-left: 225px;
  }

  #page-wrapper {
  padding: 15px 25px;
  }

  /* Side Nav */

  .side-nav {
  margin-left: -225px;
  left: 225px;
  width: 225px;
  position: fixed;
  top: 50px;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #222222;
  overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .user-dropdown {
    margin-top: 10px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu {
  position: relative;
  min-width: 225px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
  color: #999999;
  padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #080808;
  }

  .side-nav>li>a {
  width: 225px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #080808;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Dashboard */

.uploaded-pic {
  max-width: 100px;
  max-height: 100px;
}