// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Dashboard styles
-------------------------------------------------- */
#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Nav Announcements */

.announcement-heading {
  font-size: 50px;
  margin: 0;
}

.announcement-text {
  margin: 0;
}

/* Table Headers */

table.tablesorter thead {
  cursor: pointer;
}

table.tablesorter thead tr th:hover {
  background-color: #f5f5f5;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */

  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 15px 25px;
  }



  /* Side Nav */

  .side-nav {
    margin-top: 25px;
    margin-left: -225px;
    left: 225px;
    width: 225px;
    position: fixed;
    top: 50px;
    height: 100%;
    border-radius: 0;
    border: none;
    background-color: #222222;
    overflow-y: auto;
  }

  /* Bootstrap Default Overrides - Customized Dropdowns for the Side Nav */

  .side-nav>li.dropdown>ul.dropdown-menu {
  position: relative;
  min-width: 225px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a {
  color: #999999;
  padding: 15px 15px 15px 25px;
  }

  .side-nav>li.dropdown>ul.dropdown-menu>li>a:hover,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a.active,
  .side-nav>li.dropdown>ul.dropdown-menu>li>a:focus {
  color: #fff;
  background-color: #080808;
  }

  .side-nav>li>a {
  width: 225px;
  }

  .navbar-inverse {
    background-color: #222222;
    border-color: none;
    border: 0px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
  background-color: #080808;
  }

  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// .alert-success {
//   background-color: #4099FF;
//   border-color: #4099FF;
//   color: white;
// }

/* Panel Styling 
--------------------------------------*/

// .panel-info {
//   border-color: silver;
//   color: #808080;
// }

// .panel-info > .panel-heading {
//   background-color: silver;
//   border-color: silver;
//   color: #555;
// }

// .panel-offers {

// }

// .panel-offers, .panel-heading {
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 3px;
//   border-top-left-radius: 3px;
//   background-color: #F6F1F7;
// }

// .panel-pending{
// }

// .panel-pending, .panel-heading {
//   padding: 10px 15px;
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 3px;
//   border-top-left-radius: 3px;
//   background-color: #F6F1F7;
 
// }

// .panel-in-progress{

// }
//   .panel-in-progress, .panel-heading {
//   padding: 10px 15px;
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 3px;
//   border-top-left-radius: 3px;
//   background-color: #F6F1F7;
// }

// .panel-completed{

// }
//   .panel-completed, .panel-heading {
//   padding: 10px 15px;
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 3px;
//   border-top-left-radius: 3px;
//   background-color: #F6F1F7;
// }

// .panel-declined{

// }
//   .panel-declined, .panel-heading {
//   padding: 10px 15px;
//   border-bottom: 1px solid transparent;
//   border-top-right-radius: 3px;
//   border-top-left-radius: 3px;
//   background-color: #F6F1F7;
// }

/* Profile photo
-------------------------*/
.uploaded-pic {
  max-width: 100%;
  max-height: 100%;
}

.default-pic {
  max-width: 100px;
  max-height: 100px;
}

/* Sticky footer-dashboard styles
-------------------------------------------------- */
.footer-dashboard {
  background-color: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 65px;
}
.container .text-muted-2 {
  margin: 20px 0;
  float: right;
  color: #464646;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Dashboard hover over color
------------------------------------------------*/
i.fa.fa-edit.fa-5x:hover {
  color: #FFECB0;
}

i.fa.fa-tasks.fa-5x:hover {
  color: #D6F5FF;
}

i.fa.fa-check-square-o.fa-5x:hover {
  color: #B2FF9E;
}

i.fa.fa-exclamation-circle.fa-5x:hover {
  color:#FF6257;
}

a.col-xs-6:hover {
  color: gray;
}

.panel-info > .panel-heading{
  color: black;
}



